{% extends "cbook/menu.html" %}
{% block content %}
<h1>Encrypt data</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'cbook:encrypt_post' %}" method="post">
{% csrf_token %}
    <div class="form-group">
        <label for="key">Public Key</label>
        <textarea name="key" id="key" class="form-control col-md-push-2">{{ key }}</textarea>
    </div>

    <div class="form-group">
        <label for="plaintext">Plaintext Message</label>
        <textarea name="plaintext" id="plaintext" class="form-control col-md-push-2"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" id="submit" name="submit" class="btn btn-primary">Encrypt</button>
    </div>
</form>
{% endblock %}