{% extends "cbook/menu.html" %}
{% block content %}
<h1>Generate key</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'cbook:generate_key_post' %}" method="post">
{% csrf_token %}
    <div class="form-group">
        <label for="email">Email: </label>
        <textarea name="email" id="email" class="form-control col-md-push-2" style="height:100%"></textarea>
    </div>
        <div class="form-group">
        <label for="passphrase">Passphrase: </label>
        <textarea name="passphrase" id="passphrase" class="form-control col-md-push-2" style="height:100%"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" id="submit" name="submit" class="btn btn-primary">Add key</button>
    </div>
</form>
{% endblock %}